<<<<<<< HEAD
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.logo {
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 100;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: auto;
  margin-left: 64px;
  z-index: 100;
}

.header__subtitle {
  line-height: 25px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  box-sizing: border-box;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 100;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

.description {
  width: 80%;
  min-width: 784px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 0; 
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  position: relative;
  z-index: 50;
}

.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 1100px;
  padding: 0;
  z-index: 50;
  position: relative;
}

.table__cell {
  width: 250px;
  list-style:none;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman {
  background-color: #f2f2f2;
  position: relative;
  min-height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
}

.feynman__title {
  width: 648px;
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 100;
  position: relative;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: auto;
  text-align: center;
  z-index: 100;
  position: relative;
  margin-top: 70px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__feynmank{
  width: 867px;
  height: 637px;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.table_theme_dark {
  color: #fff;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.kaufman__triangle{
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  top: 0;
  background-size: cover;
}

.footer{
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  height: 250px;
  margin: auto;
  display: flex;
  justify-content:space-between;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
}

.footer__author {
  padding-top: 18px;
}

.footer__column_content_copyright {
  color: #fff;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  color: #fff;

}

.footer__column_content_social {
  color: #fff;
}

.footer__column-heading {
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;

}

.footer__column-links {
  padding-top: 20px;
  padding-bottom: 16px;
}

.footer__column-links:last-child {
  padding-bottom: 16px;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:last-child {
  padding-bottom: 16px;
}
=======
@import url(normalize.css);

/*миксы*/
@import url(../blocks/link-animation/link-animation.css);
@import url(../blocks/rotation/rotation.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
    @import url(../blocks/header/__title/header__title.css);
    @import url(../blocks/header/__subtitle/header__subtitle.css);
    @import url(../blocks/header/__link/header__link.css);
    @import url(../blocks/header/__main-illustration/header__main-illustration.css);
    @import url(../blocks/header/__square-pic/header__square-pic.css);

@import url(../blocks/logo/logo.css);
  @import url(../blocks/logo/_place/logo_place_header.css);
  @import url(../blocks/logo/_place/logo_place_footer.css);

@import url(../blocks/content/content.css);

@import url(../blocks/description/description.css);
  @import url(../blocks/description/_color/description_color_grey.css);

@import url(../blocks/two-columns/two-columns.css);
    @import url(../blocks/two-columns/__brief/two-columns__brief.css);
    @import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
    @import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
    @import url(../blocks/two-columns/__span-accent/two-columns__span-accent.css);

@import url(../blocks/techniques/techniques.css);
@import url(../blocks/cards/cards.css);
    @import url(../blocks/cards/__item/cards__item.css);
    @import url(../blocks/cards/__image/cards__image.css);
    @import url(../blocks/cards/__title/cards__title.css);
    @import url(../blocks/cards/__description/cards__description.css);

@import url(../blocks/video/video.css);
    @import url(../blocks/video/__iframes/video__iframes.css);
    @import url(../blocks/video/__iframe/video__iframe.css);

@import url(../blocks/feynman/feynman.css);
    @import url(../blocks/feynman/__title/feynman__title.css);
    @import url(../blocks/feynman/__subtitle/feynman__subtitle.css);
    @import url(../blocks/feynman/__link/feynman__link.css);
    @import url(../blocks/feynman/__feynmank/feynman__feynmank.css);

@import url(../blocks/digits/digits.css);

@import url(../blocks/section-title/section-title.css);
  @import url(../blocks/section-title/_theme/section-title_theme_dark.css);

@import url(../blocks/section-subtitle/section-subtitle.css);
  @import url(../blocks/section-subtitle/_theme/section-subtitle_theme_dark.css);

@import url(../blocks/table/table.css);
  @import url(../blocks/table/_theme/table_theme_dark.css);
    @import url(../blocks/table/__cell/table__cell.css);
      @import url(../blocks/table/__cell/_theme/table__cell_theme_dark.css);
    @import url(../blocks/table/__heading/table__heading.css);
    @import url(../blocks/table/__text/table__text.css);

@import url(../blocks/khan/khan.css);
    @import url(../blocks/khan/__container/khan__container.css);
    @import url(../blocks/khan/__author/khan__author.css);
    @import url(../blocks/khan/__title/khan__title.css);
    @import url(../blocks/khan/__quote/khan__quote.css);
    @import url(../blocks/khan/__quote-author/khan__quote-author.css);
    @import url(../blocks/khan/__quote-author-subline/khan__quote-author-subline.css);
    @import url(../blocks/khan/__book-container/khan__book-container.css);
    @import url(../blocks/khan/__book-pic/khan__book-pic.css); 
    @import url(../blocks/khan/__buy-link/khan__buy-link.css);                            

@import url(../blocks/kaufman/kaufman.css);
    @import url(../blocks/kaufman/__triangle/kaufman__triangle.css);

@import url(../blocks/resources/resources.css);
    @import url(../blocks/resources/__logo-zone/resources__logo-zone.css);
    @import url(../blocks/resources/__link/resources__link.css);
    @import url(../blocks/resources/__logo/resources__logo.css);     

@import url(../blocks/footer/footer.css);
    @import url(../blocks/footer/__columns/footer__columns.css);
    @import url(../blocks/footer/__column/footer__column.css);
      @import url(../blocks/footer/__column/_content/footer__column_content_copyright.css); 
      @import url(../blocks/footer/__column/_content/footer__column_content_info.css); 
      @import url(../blocks/footer/__column/_content/footer__column_content_social.css); 
    @import url(../blocks/footer/__author/footer__author.css);
    @import url(../blocks/footer/__column-heading/footer__column-heading.css);
    @import url(../blocks/footer/__column-links/footer__column-links.css);
    @import url(../blocks/footer/__social-icon/footer__social-icon.css);
    @import url(../blocks/footer/__column-link/footer__column-link.css);

>>>>>>> d25603e8fad4115581ed1327a866c5babc2e9e2e

/*Cпасибо за ваше терпение и за ваш труд, ваши советы очень полезны и ценны для меня*/